.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.box-container {
  display: flex;
  flex-direction: row;
  padding: 2em;
}

.title {
  color: #5E7C7F;
  font-size: 34px;
  padding: 2em;
}
